version: '3.8'

services:
  db:
    image: postgres:18-alpine
    container_name: clever_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  web:
    build: .
    container_name: clever_web
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - static:/app/clever/static
      - media:/app/clever/media
    depends_on:
      - db
    working_dir: /app/clever
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn clever.wsgi:application --bind 0.0.0.0:8000"
    networks:
      - app-network


  nginx:
    image: nginx:latest
    container_name: clever_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt/:/etc/letsencrypt/
      - static:/app/static
      - media:/app/media
    depends_on:
      - web
    networks:
      - app-network

volumes:
  postgres_data:
  static:
  media:

networks:
  app-network:
    driver: bridge